/* :root {
    --BG: rgb(20, 20, 20);
    --FG: rgb(255, 255, 255);
    --light-FG: rgb(150,150,150);
    --button-FG: rgb(200,200,200);
    --button-BG: rgb(30,30,30);
    --list-item-BG-unselected: rgb(40,40,40);
    --list-item-BG-hover: rgb(60,60,60);
    --list-item-BG-selected: rgb(80,80,80);
    --spacer-FG: rgb(100,100,100);
} */

body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--BG);
    color: var(--FG);
    max-width: 600px;
}
p
{
    color: var(--light-FG);
}
.submitButton {
    padding: 10px 20px;
    color: var(--FG);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: inline;
}
.element {
    max-width: 550px;
    background-color: var(--list-item-BG-unselected);
    padding:15px;
    cursor: pointer;
}
#container {
    max-width: 600px;
    background-color: var(--button-BG);
    padding: 15px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-BG);
    color: var(--button-FG);
    transition: 0.1s;
}
button:hover
{
    background-color: var(--list-item-BG-hover);
    color: var(--FG);
}
#submitButton
{
    margin-right: 20px;
}
#buttonContainer
{
    display: flex;
    justify-content: space-between;
}
.spacer {
    padding: 10px 20px;
    flex-grow: 1;
    color: var(--spacer-FG);
    text-align: center;
}
#githubLink:hover
{
    text-decoration: underline;
    cursor: pointer;
}
h1{
    display:inline;
    margin: 0px;
    margin-top: 10px;
}
#headerContainer
{
    display: flex;
    justify-content: space-between;
}
#lightModeToggle
{
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color: var(--button-FG);
    font-family: 'Segoe UI Symbol';
}