/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text);
}

#map {
    width: 80%;
    min-height: 20vh;
    /* fallback minimum height */
}

#discoveriesPanel {
    background-color: #ff00ff;
}

#titleBar {
    display: flex;
    font-size: 2em;
    font-weight: 500;
    color: black;
    justify-content: space-between;
    align-items: center;
    background-color: #03fca5;
    padding: 10px;
}

#titleBar button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px;
}

