/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text);
}

#activeElementPanel {
    min-width: 300px;
    max-width: 500px;
    width: 20vw;
    height: 20vh;
    background-color: #d1ffef;
    border-radius: 8px;
    align-content: center;
}

#activeElementPanel p {
    font-size: 2em;
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapDiscoverContainer {
    display: flex;
    flex-direction: row;
}

#map {
    min-height: 95vh;
    flex-grow: 10;
    min-width: 300px;
    display: flex;
}

#discoveriesPanel {
    background-color: #d1ffef;
    flex-grow: 2;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    min-height: 95vh;
    border-left: 3px solid #52d1a5;
    font-size: 1.5em;
    align-content: center;
}

#discoveriesPanel p {
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleBar {
    display: flex;
    font-size: 2em;
    font-weight: 500;
    color: black;
    justify-content: space-between;
    align-items: center;
    background-color: #03fca5;
    padding: 10px;
    height: 5vh;
    border-bottom: 3px solid #52d1a5;
}

#titleBar button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px;
}

#creationPanel {
    min-width: 300px;
    max-width: 500px;
    width: 20vw;
    height: 20vh;
    background-color: #d1ffef;
    border-radius: 8px;
    align-content: center;
}

#creationPanel p {
    font-size: 2em;
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


